<div id="{{ uid }}_bx">
  <hr />
  <div class="clearfix">
    <p class="lead"><strong>3.</strong> CrossRef response:</p>
    <pre 
      style="width:800px; height:300px;" 
      class="bg-warning">{{ response }}</pre>
  </div>
</div>